<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="icon" href="../static/image/spring_logo.png" sizes="16x16 32x32" type="image/png">
    <title>Admin panel</title>
</head>
<body>
<!-- Панель сверху -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <strong><a class="navbar-brand" id="navAdminName"> </a></strong>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="navbar-brand h1" id="navAdminRole"></a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="link-secondary" href="/logout">Logout</a>
            </form>
        </div>
    </div>
</nav>
<!--левая колонка-->
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-2 px-0 bg-white min-vh-100">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
                    <a class="nav-link" aria-current="page" href="/user">User</a>
                </li>
            </ul>
        </div>
        <!--основная таблица - правая колонка-->
        <div class="col-md-10 bg-light">
            <h1>Admin panel</h1>
            <!--Вкладки-->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            type="button" role="tab" aria-controls="home" aria-selected="true">Users table
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">New User
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!--            Первая вкладка с таблицей пользователей-->
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row m-0">
                        <div class="col border bg-light"><p></p>
                            <h3 class="m-2">All users</h3>
                            <p></p></div>
                        <div class="w-100"></div>
                        <div class="col border bg-white"><br>
                            <table class="table table-striped m-0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="usersTable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--Модальное окно редактирования пользователя-->
                <div class="modal fade" id="modalEdit" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content text-center">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalEditBtn">Edit User</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close" id="crossClose"></button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" novalidate>
                                    <!--ID-->
                                    <div class="form-group row justify-content-center align-items-center"
                                         id="EditUser">
                                        <div class="col-sm-6">
                                            <strong><label for="idUserEdit"
                                                           class="form-label">ID</label></strong>
                                            <input type="text" class="form-control" id="idUserEdit" disabled>
                                        </div>
                                    </div>
                                    <!--Name-->
                                    <div class="form-group row justify-content-center align-items-center">
                                        <div class="col-sm-6"><br>
                                            <strong><label for="nameEdit" class="form-label">First
                                                name</label></strong>
                                            <input type="text" class="form-control" id="nameEdit" name="name"
                                                   required
                                                   minlength="4" maxlength="65"
                                                   placeholder="Name"
                                                   pattern="^[а-яА-ЯёЁa-zA-Z]+$">
                                        </div>
                                    </div>
                                    <!--Last Name-->
                                    <div class="form-group row justify-content-center align-items-center">
                                        <div class="col-sm-6"><br>
                                            <strong><label for="lastNameEdit"
                                                           class="form-label">Last Name</label></strong>
                                            <input type="text" class="form-control" id="lastNameEdit"
                                                   name="lastName"
                                                   required
                                                   minlength="4" maxlength="65"
                                                   placeholder="Last Name"
                                                   pattern="^[а-яА-ЯёЁa-zA-Z]+$">
                                        </div>
                                    </div>
                                    <!--Age-->
                                    <div class="form-group row justify-content-center align-items-center">
                                        <div class="col-sm-6"><br>
                                            <strong><label for="ageEdit"
                                                           class="form-label">Age</label></strong>
                                            <input type="number" class="form-control" id="ageEdit" name="age"
                                                   required min="1" max="120">
                                        </div>
                                    </div>
                                    <!--Email-->
                                    <div class="form-group row justify-content-center align-items-center">
                                        <div class="col-sm-6"><br>
                                            <strong><label for="emailEdit" class="form-label">Email</label></strong>
                                            <input type="email" class="form-control" id="emailEdit"
                                                   name="email" required
                                                   placeholder="name@mail.ru">
                                        </div>
                                    </div>
                                    <!--Password-->
                                    <div class="form-group row justify-content-center align-items-center">
                                        <div class="col-sm-6"><br>
                                            <strong><label for="passwordEdit"
                                                           class="form-label">Password</label></strong>
                                            <input type="password" class="form-control" id="passwordEdit"
                                                   name="password">
                                        </div>
                                    </div>
                                    <!--Role-->
                                    <div class="form-group row justify-content-center align-items-center">
                                        <div class="col-sm-6"><br>
                                            <strong><label for="selectEdit" class="form-label">Role</label></strong>
                                            <select class="form-select" size="2" multiple
                                                    aria-label="multiple select example"
                                                    id="selectEdit" name="role">
                                                <option>
                                                </option>
                                            </select><br>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal" id="editModalClose">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-primary" id="editModalBtn">
                                            Edit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Модальное окно удаления пользователя-->
                <div class="modal fade" id="modalDelete" tabindex="-1"
                     aria-labelledby="exampleModalLabelD" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content text-center">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabelD">Delete User</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" novalidate>
                                    <!--ID-->
                                    <div class="form-group row justify-content-center align-items-center"
                                         id="deleteUser">
                                        <div class="col-sm-6">
                                            <strong><label for="idUserDelete"
                                                           class="form-label">ID</label></strong>
                                            <input type="text" class="form-control" id="idUserDelete" disabled>
                                        </div>
                                    </div>
                                    <!--Name-->
                                    <div class="form-group row justify-content-center align-items-center">
                                        <div class="col-sm-6"><br>
                                            <strong><label for="nameDelete" class="form-label">First
                                                name</label></strong>
                                            <input type="text" class="form-control"
                                                   id="nameDelete"
                                                   name="name" disabled>
                                        </div>
                                    </div>
                                    <!--Last Name-->
                                    <div class="form-group row justify-content-center align-items-center">
                                        <div class="col-sm-6"><br>
                                            <strong><label for="lastNameDelete"
                                                           class="form-label">Last Name</label></strong>
                                            <input type="text" class="form-control"
                                                   id="lastNameDelete"
                                                   name="lastName" disabled>
                                        </div>
                                    </div>
                                    <!--Age-->
                                    <div class="form-group row justify-content-center align-items-center">
                                        <div class="col-sm-6"><br>
                                            <strong><label for="ageDelete"
                                                           class="form-label">Age</label></strong>
                                            <input type="number" class="form-control"
                                                   id="ageDelete" name="age"
                                                   disabled>
                                        </div>
                                    </div>
                                    <!--Email-->
                                    <div class="form-group row justify-content-center align-items-center">
                                        <div class="col-sm-6"><br>
                                            <strong><label for="emailDelete" class="form-label">Email</label></strong>
                                            <input type="email" class="form-control"
                                                   id="emailDelete"
                                                   name="email" disabled>
                                        </div>
                                    </div>
                                    <!--Role-->
                                    <div class="form-group row justify-content-center align-items-center">
                                        <div class="col-sm-6"><br>
                                            <strong><label for="selectDelete"
                                                           class="form-label">Role</label></strong>
                                            <select class="form-select" size="2" multiple
                                                    aria-label="multiple select example"
                                                    id="selectDelete"
                                                    name="role" disabled>
                                                <option>
                                                </option>
                                            </select><br>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal" id="deleteModalClose">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-danger" id="deleteModalBtn">
                                            Delete
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Вторая вкладка с добавлением нового пользователя-->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row m-0 justify-content-center align-content-center">
                        <div class="col border bg-light"><p></p>
                            <h3 class="m-2">Add new user</h3>
                            <p></p></div>
                        <div class="w-100"></div>
                        <div class="col border bg-white text-center">
                            <form class="needs-validation" id="newUserForm" novalidate>
                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3"><br>
                                        <strong><label for="name" class="form-label">First name</label></strong>
                                        <input type="text" class="form-control"  id="name" required
                                               minlength="4" maxlength="65" placeholder="Name"
                                               pattern="^[а-яА-ЯёЁa-zA-Z]+$">
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3"><br>
                                        <strong><label for="lastName" class="form-label">Last Name</label></strong>
                                        <input type="text" class="form-control" id="lastName"
                                               required
                                               minlength="4" maxlength="65" placeholder="Last Name"
                                               pattern="^[а-яА-ЯёЁa-zA-Z]+$">
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3"><br>
                                        <strong><label for="age" class="form-label">Age</label></strong>
                                        <input type="number" class="form-control" id="age"
                                               required min="1" max="120">
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3"><br>
                                        <strong><label for="email" class="form-label">Email</label></strong>
                                        <input type="email" class="form-control" id="email" required
                                               placeholder="name@mail.ru">
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3"><br>
                                        <strong><label for="password" class="form-label">Password</label></strong>
                                        <input type="password" class="form-control" id="password" required
                                               placeholder="password"
                                               pattern="(?=^.{3,}$)^[а-яА-ЯёЁa-zA-Z0-9]+$">
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-sm-3" id="testSelect"><br>
                                        <strong><label for="selectNewRole" class="form-label">Role</label></strong>
                                        <select class="form-select" size="2" multiple
                                                aria-label="multiple select example"
                                                id="selectNewRole">
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <button type="submit" id="btnNewUser" class="btn btn-success m-3 btn-lg" >Add new user</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/main.js"></script>
<script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>